<!DOCTYPE html>
<html>
  <head>
    <title>Automatic Control Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AutomaticControlSettings.css') }}">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <h1>Product settings</h1>
      </div>

      <!-- Navigation Bar -->
      <div class="btn-container">
        
        <form action="/AutomaticControl" method="post">
          <input type="hidden" name="package" value={{package}}>
          <input type="hidden" name="link" value={{link}}>
          <button type="submit" class="btn">Back</button>
        </form>
        
      </div>
      
      {% for item in items %}
  {% if item.package == package %}
    {% for product in item.products %}
      <form method="POST" action="{{ url_for('updateJsonData') }}" class="grid-item">
        <img src="{{ product.product_image }}" alt="{{ product.product_name }}">
        <a>{{ product.product_name }}</a>
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="hidden" name="product_package" value="{{ package }}">
        <label>
          Active: 
          <input type="checkbox" name="isActive" {% if product.isActive %}checked{% endif %} value="true" {% if product.isActive %}checked{% endif %}>
        </label>
        <br>
        <label>
          Crate Number: 
          <input type="text" name="crateNumber" value="{{ product.crateNumber }}">
        </label>
        <button type="submit">Save</button>
      </form>
    {% endfor %}
  {% endif %}
{% endfor %}


    </div>

  </body>
</html>