body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /* Header */
  .header {
    font-size: 36px; /* increased font size */
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Navigation Buttons */
  .btn-container {
    display: flex;
    justify-content: center; /* centers the buttons horizontally */
    align-items: center; /* centers the buttons vertically */
  }
  
  .btn {
    background-color: #1a75ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    transition: all 0.2s ease-in-out;
    margin-right: 10px; /* adds some spacing between the buttons */
  }
  
  .btn:hover {
    background-color: #0077b3;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-2px);
  }
  
  /* Grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    max-width: 750px;
    margin-top: 30px;
  }
  
  .grid-item {
    position: relative; /* enable absolute positioning of the caption */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out;
  }
  
  .grid-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  
  .grid-item:hover img {
    transform: scale(1.1); /* scale up the image on hover */
  }
  
  .grid-item:hover .caption {
    opacity: 1; /* show the caption on hover */
  }

  /* Data TableView */
  .tableview {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tableview-header {
    display: flex;
    background-color: #ddd;
    font-weight: bold;
  }
  
  .header-item {
    flex: 1;
    padding: 10px;
    text-align: center;
  }
  
  .tableview-row {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  .row-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    margin: 0 25px; /* Add margin to create space between columns */
  }
  
  
  .row-item p {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .coordinate-x,
  .coordinate-y,
  .coordinate-z,
  .coordinate-rx,
  .coordinate-ry,
  .coordinate-rz,
  .robot-speed {
    font-weight: bold;
  }
  