body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Automatic Control Settings CSS */

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Header */
.header {
  font-size: 36px; /* increased font size */
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation Bar */
  .btn-container {
    display: flex;
    justify-content: center; /* centers the buttons horizontally */
    align-items: center; /* centers the buttons vertically */
    padding: 10px
  }
  
  .btn {
    background-color: #1a75ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    transition: all 0.2s ease-in-out;
    margin-right: 10px; /* adds some spacing between the buttons */
  }
  
  .btn:hover {
    background-color: #0077b3;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-2px);
  }

/* Style the amount section */
.updateAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.updateAmount label {
  font-size: 18px;
  margin-bottom: 20px;
}

.updateAmount input[type="text"] {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  width: 400px; /* or any desired width */
  max-width: 100%;
  box-sizing: border-box;
}

.updateAmount button {
  background-color: #1a75ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.updateAmount button:hover {
  background-color: #0077b3;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-2px);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-gap: 20px;
  padding: 50px;
}

.grid-item {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.form-container {
  margin-top: 10px;
}

.form-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-container label input[type="checkbox"] {
  margin-right: 10px;
}

.form-container button[type="submit"] {
  background-color: #1a75ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0077b3;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-2px);
}
