body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  /* Header */
  .header {
    font-size: 36px; /* increased font size */
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Navigation Bar */
  .btn-container {
    display: flex;
    justify-content: center; /* centers the buttons horizontally */
    align-items: center; /* centers the buttons vertically */
  }
  
  .btn {
    background-color: #1a75ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    transition: all 0.2s ease-in-out;
    margin-right: 10px; /* adds some spacing between the buttons */
  }
  
  .btn:hover {
    background-color: #0077b3;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-2px);
  }

/*  */ 
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
}

input[type="text"] {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
}

button[type="submit"]:hover {
  background-color: #555;
}
